
// Variables

$brandColor     = rgb(143, 189, 255)
$brandColorText = rgb(255, 255, 255) 
$textColor      = rgb(50, 50, 50)


// Basic

*
  box-sizing: border-box

html
  height: 100%

body
  height: 100%
  margin: 0

  background: #fff url(/images/worldmap.png) no-repeat 50% 50%
  background-size: contain

  font-family: 'Ubuntu', 'Open Sans', Helvetica, sans-serif
  font-weight: 300
  color: $textColor

h1, h2, h3, h4, h5
  font-weight: 300


// Page elements

#app,
.container
  height: 100%

header
  position: fixed
  width: 100%
  height: 3em
  padding: 0.8em
  text-align: center
  background: $brandColor url(/images/arrow-keys.png) no-repeat 98%
  color: $brandColorText


.active-time
  margin: 0
  font-size: 1.5em
  line-height: 1em
  cursor: pointer

.select-time-menu
  max-height: 0
  overflow: hidden
  transition: all 300ms

  &.open
    max-height: 10em
  


.timezone-list
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  height: 100%;
  padding-top: 3em
  justify-content: center

.timezone
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1 30%
  max-width: 10em
  padding: 1em
  text-align: center
  background: -moz-linear-gradient(right, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.9) 100%)
  background: -webkit-linear-gradient(right, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.9) 100%)
  background: -o-linear-gradient(right, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.9) 100%)
  background: -ms-linear-gradient(right, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.9) 100%)
  background: linear-gradient(to left, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.9) 100%)
  
.timezone-time
  margin: 0

.timezone-offset
  margin: 0
  font-size: 0.7em
  color: lighten($textColor, 50%)

.person
  margin: 1em 0

.person-name
  margin: 0.2em
  font-size: 0.8em
  font-weight: bold

.avatar
  width: 80px
  height: 80px
  border-radius: 40px
