
// Variables

$brandColor     = #42A5F5
$brandColorText = rgb(255, 255, 255)
$textColor      = rgb(50, 50, 50)

$avatarSize     = 60px


// Basic

*
  box-sizing: border-box

html
  height: 100%

body
  height: 100%
  margin: 0

  background: #fff

  font-family: 'Roboto', 'Open Sans', Helvetica, sans-serif
  font-weight: 300
  color: $textColor

h1, h2, h3, h4, h5
  font-weight: normal


// Page elements

#app,
.container
  height: 100%

.instructions
  position: fixed
  bottom: 1em
  left: 0
  right: 0
  margin: 0 auto;
  font-size: 0.8em
  font-style: italic
  text-align: center

.timezone-list
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  height: 100%;
  justify-content: center

.timezone
  padding: 1em
  
// .timezone-major
  
.timezone-people
  display: flex
  
.timezone-people-column
  min-width: $avatarSize
  margin-right: 1em

// Timezones that are in nighttime
for hour in 0 1 2 3 4 5 6 7 22 23
  .timezone-hour-{hour}
    .avatar
      filter: grayscale(80%)

.timezone-header
  margin: 0.5em 0
  width: 80px
  text-align: left
  white-space: nowrap;
  
  p
    margin: 0.3em 0
    overflow: hidden
    text-overflow: ellipsis

.timezone-time
  margin: 0.3em 0
  
.timezone-name
  font-size: 0.6em
  text-transform: uppercase
  font-weight: bold
  color: lighten($textColor, 20%)

.timezone-offset
  margin: 0
  font-size: 0.7em
  color: #61676F

.person
  position: relative
  margin: 0.8em 0

  &:hover
    .person-info
      opacity: 1

.person-info
  position: absolute
  left: -20%
  right: -20%
  bottom: -2em
  z-index: 1000
  width: 140%
  max-width: 110px
  max-height: 3em
  margin: 0 auto
  padding: 0.3em 0.4em 0.4em

  opacity: 0
  transition: all 200ms
  background: #fff
  border-radius: 2px
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24)
  font-size: 0.8em
  font-weight: bold
  text-align: center

  p
    margin: 0
    line-height: 1.1em

  .person-name
    margin-bottom: 0.3em

.person-city
  font-size: 0.8em
  font-weight: normal
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden

.avatar
  display: block
  width: 100%
  max-width: $avatarSize
  height: 100%
  border-radius: 50%
  // border: 2px solid #fff
  // box-shadow: 0 1px 1px rgba(0,0,0,0.2)
