
// Variables

$brandColor     = #3E4651 //rgb(143, 189, 255)
$brandColorText = rgb(255, 255, 255)
$textColor      = rgb(50, 50, 50)


// Basic

*
  box-sizing: border-box

html
  height: 100%

body
  height: 100%
  margin: 0

  background: #fff

  font-family: 'Ubuntu', 'Open Sans', Helvetica, sans-serif
  font-weight: 300
  color: $textColor

h1, h2, h3, h4, h5
  font-weight: 300


// Page elements

#app,
.container
  height: 100%

header
  position: fixed
  z-index: 1
  width: 100%
  height: 3em
  padding: 0.8em
  text-align: center
  background: $brandColor url(/images/arrow-keys.png) no-repeat 98%
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28)
  color: $brandColorText


.active-time
  margin: 0
  font-size: 1.5em
  line-height: 1em
  cursor: pointer

.select-time-menu
  max-height: 0
  overflow: hidden
  transition: all 300ms

  &.open
    max-height: 10em



.timezone-list
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  height: 100%;
  padding-top: 3em
  justify-content: center

.timezone
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1 30%
  max-width: 10em
  padding: 1em
  text-align: center

// Timezones that are in nighttime
for hour in 0 1 2 3 4 5 6 7 22 23
  .timezone-hour-{hour}
    .avatar
      filter: grayscale(80%)


.timezone-time
  margin: 0

.timezone-offset
  margin: 0
  font-size: 0.7em
  color: #61676F

.person
  position: relative
  margin: 0.8em 0

  &:hover
    .person-info
      opacity: 1

.person-info
  position: absolute
  left: -20%
  right: -20%
  bottom: -2em
  z-index: 1000
  width: 140%
  max-width: 110px
  max-height: 3em
  margin: 0 auto
  padding: 0.3em 0.4em 0.4em

  opacity: 0
  transition: all 200ms
  background: #fff
  border-radius: 2px
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24)
  font-size: 0.8em
  font-weight: bold

  p
    margin: 0
    line-height: 1em

  .person-name
    margin-bottom: 0.3em

.person-city
  font-size: 0.8em
  font-weight: normal
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden

.avatar
  width: 100%
  max-width: 80px
  border-radius: 40px
