<!DOCTYPE html>
<html>
<head>
    <title>Timezone</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="app">{{{body}}}</div>
    <script>
      var people = {{{people}}};
    </script>
    <script src="/js/bundle.js"></script>
</body>
</html>